<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../styles.css" />
        <link rel="stylesheet" href="../asset/style.css" />
        <link rel="stylesheet" href="../asset/main.css" />

        <link rel="stylesheet" href="../icon-font/icon-font.css" />
        <title>gift card</title>
    </head>
    <body>
        <header class="container mb-header">
            <button class="burger-menu" id="burger">
                <img src="../image/Menu.png" alt="Menu" />
            </button>

            <nav class="nav top-nav">
                <ul class="nav-links">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">BUY A GIFT CARD</a></li>
                    <li><a href="#">MEMBERSHIP</a></li>
                    <li><a href="#">FOR YOU</a></li>
                    <li><a href="#">SHOPPING FOR TODAY IN 90039</a></li>
                </ul>
                <button class="login-btn">LOGIN</button>
            </nav>

            <img class="header-logo" src="../image/header-logo.png" />

            <nav class="nav bottom-nav">
                <ul class="nav-links">
                    <li><a href="#">PANTRY</a></li>
                    <li><a href="#">SNACKS</a></li>
                    <li><a href="#">BAKERY</a></li>
                    <li><a href="#">PRODUCE</a></li>
                    <li><a href="#">FROZEN</a></li>
                    <li><a href="#">SANDWICHES</a></li>
                    <li><a href="#">HEALTH & HOME</a></li>
                    <li><a href="#">DAIRY & EGGS</a></li>
                    <li><a href="#">MEAT & FISH</a></li>
                    <li><a href="#">BEVERAGES</a></li>
                </ul>

                <div class="icons">
                    <a href="#"
                        ><img src="../image/Search.png" alt="Search"
                    /></a>
                    <a href="#"><img src="../image/like.png" alt="like" /></a>
                    <a href="#"
                        ><img
                            src="../image/shopping_bag.png"
                            alt="shopping_bag"
                    /></a>
                </div>
            </nav>

            <div class="mobile-menu" id="mobileMenu">
                <div class="mobile-menu-header">
                    <button class="mobile-menu-btn">LOGIN</button>
                    <button class="mobile-menu-btn">
                        <img src="../image/like-white.png" alt="like" />
                    </button>
                    <button class="mobile-menu-btn">
                        <img src="../image/shopping-bag-white.png" alt="" />
                    </button>
                    <button class="close-menu" id="closeMenu">
                        <img src="../image/Close.png" alt="Close" />
                    </button>
                </div>

                <h4>Shopping for <b>Today</b> in <b>90039</b></h4>

                <div class="mobile-menu-list-header">
                    <p>MARKET</p>
                    <img src="../image/Arrow-up.png" alt="Arrow-up" />
                </div>

                <ul class="mobile-menu-list">
                    <li><a href="#">Deals for days</a></li>
                    <li><a href="#">Fresh Picks</a></li>
                    <li><a href="#">Buy a Gift Card</a></li>
                    <li><a href="#">Pantry</a></li>
                    <li><a href="#">Snacks</a></li>
                    <li><a href="#">Bakery</a></li>
                    <li><a href="#">Produce</a></li>
                    <li><a href="#">Sandwiches</a></li>
                    <li><a href="#">Health & home</a></li>
                    <li><a href="#">Dairy & eggs</a></li>
                    <li><a href="#">Meat & Fish</a></li>
                    <li><a href="#">Beverages</a></li>
                </ul>

                <div class="devider"></div>

                <div class="mobile-menu-list-header">
                    <p>HELP CENTER</p>
                    <img src="../image/Arrow-down.png" alt="Arrow-down" />
                </div>

                <div class="devider"></div>

                <ul class="nav-links-burger">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Buy a gift card</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">For you</a></li>
                </ul>
            </div>
        </header>
        <main class="gift-card-page">
            <section class="container">
                <div class="gift-card-page__title-block">
                    <button class="button-back">
                        <div class="icon-arrow-up icon-arrow__left"></div>
                        <span class="text-links">back</span>
                    </button>
                    <h1>Gift Card</h1>
                    <button class="icon-share"></button>
                </div>
                <div class="gift-card-page__title-under text24">
                    Share a gift card. Gift cards can be sent via email or
                    printed at home.
                </div>
                <form class="gift-card-page__form" action="">
                    <div class="form__block">
                        <div class="select-custom text16">
                            <div class="select-selected">
                                <span>Choose option</span>
                                <div
                                    class="icon-arrow-up icon-arrow-down"
                                ></div>
                            </div>
                            <div class="select-items">
                                <div data-value="1">10 ton</div>
                                <div data-value="2">5 blum</div>
                                <div data-value="3">10000 pepe</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-radio__block">
                        <div class="form-radio__block-title text-links">
                            Delivery Method
                        </div>
                        <label class="radio-wrapper text16">
                            Email — send a digital card directly to recipient
                            <input
                                type="radio"
                                name="option"
                                value="1"
                                checked
                            />
                            <span class="custom-radio"></span>
                        </label>
                        <label class="radio-wrapper text16">
                            Print at home — provide me a printable gift card
                            <input type="radio" name="option" value="2" />
                            <span class="custom-radio"></span>
                        </label>
                    </div>
                    <div class="line"></div>
                    <div class="form__block-group-name">
                        <div class="form__block text-links">From *</div>
                        <div class="form__block">
                            <label for="gift-card-input_form-first-name">
                                First Name
                            </label>
                            <input
                                id="gift-card-input_form-first-name"
                                placeholder="First Name"
                                type="text"
                            />
                        </div>
                        <div class="form__block">
                            <label for="gift-card-input_form-last-name">
                                Last Name
                            </label>
                            <input
                                id="gift-card-input_form-last-name"
                                placeholder="Last Name"
                                type="text"
                            />
                        </div>
                        <div class="form__block">
                            <label for="gift-card-input_form-mail">
                                Your E-mail
                            </label>
                            <input
                                id="gift-card-input_form-mail"
                                placeholder="Email"
                                type="email"
                            />
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form__block-group">
                        <div class="form__block">
                            <label for="gift-card-input_form-Recipient-name">
                                Recipient Name *
                            </label>
                            <input
                                id="gift-card-input_form-Recipient-name"
                                placeholder="Recipient Name"
                                type="text"
                            />
                        </div>
                        <div class="form__block">
                            <label for="gift-card-input_form-Message">
                                Message
                            </label>
                            <!-- <input
                                id="gift-card-input_form-Message"
                                placeholder="Message"
                                type="text"
                            /> -->
                            <textarea
                                name="gift-card-input_form-Message"
                                id="gift-card-input_form-Message"
                                placeholder="Message"
                            ></textarea>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form__block-group-card">
                        <div class="form__block">
                            <label for="card-number"> Card Number </label>
                            <input
                                id="card-number"
                                placeholder="0000 0000 0000 0000"
                                type="text"
                            />
                        </div>
                        <div class="form__block">
                            <label for="card-expiry"> MM/YY </label>
                            <input
                                id="card-expiry"
                                placeholder="22/22"
                                type="text"
                                maxlength="5"
                            />
                        </div>
                        <div class="form__block">
                            <label for="card-cvc"> CVC </label>
                            <input
                                id="card-cvc"
                                placeholder="CVC code"
                                type="text"
                                maxlength="3"
                            />
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form__info">
                        <div class="icon-lock"></div>
                        <span class="text16">
                            We use SSL encryption to protect your information
                        </span>
                    </div>
                    <button class="button-black button-order">
                        Place order
                    </button>
                    <div></div>
                </form>
            </section>
        </main>
        <footer class="footer container">
            <div class="footer-top">
                <div class="footer-top-left">
                    <div class="contacts-links">
                        <div class="links-img">
                            <img
                                src="../image/facebook_fill.png"
                                alt="facebook_fill"
                            />
                            <img
                                src="../image/instagram_fill.png"
                                alt="instagram_fill"
                            />
                        </div>
                        <div class="contact-num">+1 111 111 11-11</div>
                        <p class="contact-info">Contact us anytime</p>
                    </div>
                    <div class="footer-menu-list-box">
                        <ul class="footer-menu-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Buy a Gift Card</a></li>
                            <li><a href="#">Fresh Picks</a></li>
                        </ul>

                        <ul class="footer-menu-list">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Sell Your Goods</a></li>
                            <li><a href="#">Help Center</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-top-right">
                    <img src="../image/play-store.png" alt="play" />
                    <img src="../image/istore.png" alt="istore" />
                </div>
            </div>

            <div class="footer-midle">
                <div>gooseberry</div>
                <img src="../image/fdhn.svg" alt="star" />
                <div>goods</div>
            </div>

            <div class="meta-info">
                <ul class="meta-list">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Return of goods</a></li>
                    <li><a href="#">Food Allergy Disclaimer </a></li>
                </ul>
                <div style="opacity: 0.4">Made by Luwak.IT</div>
            </div>
        </footer>
        <script src="../components.js"></script>
    </body>
</html>
