:root {
    /* Цвета */
    --white: #fff;
    --chalk: #ece6de;
    --milk: #e2d8c9;
    --green: #6d9750;
    --black-promary: #222;
    --Black-Secondary: rgba(34, 34, 34, 0.12);
    --gray: rgba(255, 255, 255, 0.12);
    /* Разное */
    --border-radius: 8px;
    --transition-time: 0.3s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: "Gambetta Variable";
    font-size: clamp(32px, 4vw, 52px);
    line-height: 64px;
    font-weight: 600;
}

h4 {
    color: var(--white);
    font-size: 16px;
    margin: 32px 0;
    font-weight: 500;
}

h5 {
    font-size: clamp(14px, 1.8vw, 20px);
    color: var(--green);
    font-weight: 600;
}

a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.8;
}

ul,
ol {
    list-style: none;
}

button,
input {
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: var(--transition-time);
}

body {
    font-family: Barlow;
    background-color: var(--chalk);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* overflow-x: hidden; */
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.button-icon {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--Black-Secondary);
    border-radius: var(--border-radius);
    padding: 16px 17px;
}

.button-icon-black {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    gap: 10px;
    border: 1px solid var(--Black-Secondary);
    border-radius: var(--border-radius);
    padding: 16px 17px;
    background-color: var(--black-promary);
}

/* header ----------------------------------------*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header {
    border-bottom: 1px solid var(--Black-Secondary);
}

.top-nav {
    position: relative;
}

.top-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--Black-Secondary);
    width: 100vw;
    margin-left: calc(-50vw + 49%);
}

.nav-links {
    display: flex;
    gap: 24px;
}

.login-btn {
    position: relative;
    right: -40px;
    padding: 10px 40px;
    background: var(--green);
    color: var(--white);
    line-height: 24px;
}

.header-logo {
    display: block;
    margin: 20px auto;
    height: auto;
    object-fit: contain;
    padding: 0;
}

.bottom-nav {
    margin-bottom: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.burger-menu {
    background-color: var(--black-promary);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: none;
    align-items: center;
    padding: 18px 18px;
}

/* hero-section ----------------------------*/

.hero {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: var(--milk);
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-img-desktop {
    display: flex;
    border-radius: var(--border-radius);
    width: 60%;
    height: 100%;
}

.hero-img-mobile {
    display: none;
    border-radius: var(--border-radius);
    width: 100%;
    margin-top: 24px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-buttons {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}

.big-btn-bl {
    padding: 18px 20px;
    width: 328px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black-promary);
    border-radius: var(--border-radius);
}

.big-btn-wh {
    padding: 18px 20px;
    width: 328px;
    line-height: 24px;
    font-weight: 600;
    color: var(--black-promary);
    background-color: var(--white);
    border-radius: var(--border-radius);
}

.big-btn-tr {
    padding: 18px 20px;
    width: 328px;
    line-height: 24px;
    font-weight: 600;
    color: var(--black-promary);
    border: 1px solid var(--Black-Secondary);
    border-radius: var(--border-radius);
}

.big-btn-tr:hover,
.big-btn-bl:hover {
    padding: 18px 20px;
    width: 328px;
    line-height: 24px;
    font-weight: 600;
    color: var(--black-promary);
    background-color: var(--white);
    border-radius: var(--border-radius);
}

.big-btn-wh:hover {
    padding: 18px 20px;
    width: 328px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black-promary);
    border-radius: var(--border-radius);
}

.arrows-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.arrows-btn button {
    padding: 15px 17px;
    border: 1px solid var(--Black-Secondary);
    border-radius: var(--border-radius);
}

/* mobile-menu------------------------------- */

.mobile-menu {
    position: fixed;
    font-size: 16px;
    font-weight: normal;
    color: var(--white);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--black-promary);
    transition: left 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    padding: 20px 16px;
    box-sizing: border-box;
}

.mobile-menu-header {
    display: flex;
    align-items: center;
}

.mobile-menu-btn:first-child {
    background-color: var(--white);
    padding: 15px 17px;
    margin-right: 20px;
}

.mobile-menu-btn {
    padding: 10px 11px;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray);
    margin-right: 12px;
}

.mobile-menu-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mobile-menu.active {
    left: 0;
}

.close-menu {
    background: none;
    margin-left: auto;
    border: none;
    cursor: pointer;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.devider {
    height: 1px;
    width: 100%;
    background-color: var(--gray);
    margin: 20px 0;
}

.mobile-menu-list li:not(:first-child) {
    opacity: 0.6;
}

.mobile-menu-list li:first-child {
    position: relative;
    padding-left: 20px;
}

.mobile-menu-list li:first-child::before {
    content: "•";
    position: absolute;
    left: 0;
    top: -6px;
    color: var(--green);
    font-size: 24px;
}

.nav-links-burger {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    opacity: 0.6;
    margin-top: 32px;
}

/* futured section -------------------- */

.section-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 20px;
    margin-top: 60px;
}

.categories-card {
    display: grid;
    text-align: center;
}

.categories-card img {
    width: 100%;
}

.categories-title {
    margin-top: 20px;
    font-size: 20px;
}

/* green baner----------------------------- */

.green-baner {
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.green-baner-info {
    max-width: 724px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green-baner-info h2 {
    width: 602px;
}

.green-baner-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.green-baner-video-desc {
    height: 420px;
}

.green-baner-video-desc img {
    height: 100%;
    width: 100%;
}

.green-baner-video-mobile {
    display: none;
}

/* products-section --------------------*/
.section-head-slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.section-head-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 100%;
}

.product-head {
    text-transform: uppercase;
    min-height: 84px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: var(--milk);
    border-radius: var(--border-radius);
}

.product-img {
    max-width: 100%;
    position: relative;
}

.product-img img:first-child {
    width: 100%;
}

.star-marker-container {
    position: absolute;
    bottom: 71px;
    left: 0;
}

.star-marker-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.products-grid .product:first-child {
    grid-column: span 2;
    grid-row: span 2;
    gap: 20px;
}

.product-title {
    font-size: 20px;
}

.product-sub_title {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 600;
    opacity: 0.6;
}

.old-price {
    opacity: 0.6;
    text-decoration: line-through;
}

.price-count {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    margin-left: 8px;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.counter {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    border: 1px solid var(--black-promary);
    border-radius: var(--border-radius);
}

.product-img .teg-icon {
    position: absolute;
    left: 0;
    bottom: 0;
}

.product-img .button-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Our partners */

.partners-swiper {
    overflow: hidden;
}

.partners {
    display: flex;
}

.partner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    /* border-right: 1px solid var(--Black-Secondary); */
}

.partner-text,
.post-text {
    font-family: "Gambetta Variable";
    font-size: 40px;
    line-height: 44px;
}

.read-article-link {
    display: none;
}

/* Blog section ----------------*/

.posts-slider {
    width: 100%;
    overflow: hidden;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--milk);
    padding: 32px;
    width: 600px;
}

.swiper-slide {
    width: 600px;
}

/* merquee------------- */

.marquee-wrapper {
    background-color: var(--black-promary);
    color: var(--white);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
}

.marquee {
    display: flex;
    gap: 24px;
    width: max-content;
    animation: marquee 20s linear infinite;
}

.marquee-group {
    display: flex;
    gap: 24px;
}

.marquee-item {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    font-weight: 500;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* footer----------------------- */

.footer {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: var(--green);
    flex-direction: column;
    padding-top: 80px;
    justify-content: space-between;
}

.footer-menu-list-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.footer-top-left {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.contacts-links {
    display: flex;
    min-width: 352px;
    color: var(--white);
    flex-direction: column;
    gap: 20px;
}

.links-img {
    display: flex;
    gap: 20px;
}

.contact-num {
    font-size: 32px;
}

.contact-info {
    opacity: 0.4;
    font-size: 18px;
}

.footer-menu-list {
    display: flex;
    min-width: 352px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    flex-direction: column;
    gap: 12px;
}

.footer-top-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-midle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    color: var(--White, #fff);
    text-align: center;
    font-family: "Gambetta Variable";
    font-style: normal;
    font-weight: 500;
}

.footer-midle div {
    opacity: 0.2;
    font-size: 12vw;
    line-height: 77%;
    overflow: hidden;
}

.meta-info {
    display: flex;
    padding: 20px 0;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    color: var(--white);
    font-weight: 500;
}

.meta-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

/* NEW PAGE CATALOG----------------------- */

.head-page {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 40px;
}

.breadcrumbs {
    position: absolute;
    top: 20px;
}

.breadcrumbs span:last-child {
    opacity: 0.6;
}

.head-page-title {
    font-size: clamp(24px, 4vw, 52px);
}

.filters {
    display: flex;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.filters-arrows,
.buttons-filter {
    display: flex;
    gap: 20px;
}

.filter-devider {
    width: 1px;
    height: 55px;
    background-color: var(--black-promary);
}

.button-filter {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    border-radius: 48px;
    border: 1px solid var(--Black-Secondary);
    padding: 19px 20px;
    white-space: nowrap;
}

/* products-list section ------------------*/

.products-list {
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-grid.reverse .product:first-child {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}

.products-grid-line {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.scroll-pages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
}

.scroll-pages-btns {
    display: flex;
    gap: 32px;
}

.scroll-pages-btns-num {
    display: flex;
    align-items: center;
    gap: 12px;
}

.scroll-pages-btns-num button {
    padding: 21px 19px;
}

.button-content {
    width: 20px;
}

/* Accordion section ------------------------*/

.accordion {
    border-top: 1px solid var(--Black-Secondary);
    margin-top: 60px;
}

.accordion-item {
    border-bottom: 1px solid var(--Black-Secondary);
    padding: 40px 0;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
    font-weight: 500;
    font-family: "Gambetta Variable";
}

.accordion-header-box {
    display: flex;
    gap: 60px;
}

.accordion-header span {
    font-size: 20px;
    font-family: Barlow;
    color: rgba(34, 34, 34, 0.6);
}

.accordion-content {
    display: none;
    padding: 40px 20px 0px 90px;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.accordion-item.active .accordion-content {
    display: block;
}

.accordion-item.active .toggle::before {
    content: "−";
}

.toggle::before {
    content: "+";
    font-size: 32px;
    font-weight: 900;
    color: var(--black-promary);
}

@media (max-width: 1440px) {
    .hero-img-desktop {
        max-width: 50%;
        height: 460px;
    }

    .products-grid,
    .products-grid-line {
        grid-template-columns: repeat(4, 1fr);
    }

    .products-grid .product:nth-last-child(-n + 2) {
        display: none;
    }

    .products-grid-line .product:last-child {
        display: none;
    }

    .products-grid.reverse .product:first-child {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    .posts-slider {
        width: auto;
        margin-left: -40px;
        margin-right: -40px;
    }

    .footer-midle img {
        width: 66px;
        height: 66px;
    }

    .accordion-content {
        padding: 40px 20px 0px 40px;
    }

    .accordion-item {
        padding: 24px 0;
    }
}

@media (max-width: 1220px) {
    .hero-img-desktop {
        display: none;
    }

    .hero-img-mobile {
        display: flex;
    }

    h1,
    h2 {
        line-height: 40px;
    }

    .green-baner-video-desc {
        display: none;
    }

    .green-baner-video-mobile {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        height: 328px;
    }

    .green-baner-info {
        max-width: 100%;
    }

    .green-baner-info img {
        max-width: 100%;
    }

    .green-baner-info h2 {
        width: 100%;
    }
}

@media (max-width: 1120px) {
    .nav > *:not(.icons) {
        display: none;
    }

    .bottom-nav {
        margin-bottom: 0px;
    }

    .burger-menu {
        display: flex;
    }

    .top-nav::after {
        display: none;
    }

    .mb-header {
        display: flex;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-head,
    .section-head-slider {
        margin-bottom: 40px;
    }

    .categories {
        grid-template-columns: repeat(4, 1fr);
    }

    .categories > :nth-child(9) {
        grid-column: 1 / 3;
    }

    .categories > :nth-child(10) {
        grid-column: 3 / 5;
    }
}

@media (max-width: 1070px) {
    .products-grid,
    .products-grid-line {
        grid-template-columns: repeat(2, 1fr);
    }

    .product:nth-last-child(-n + 2) {
        display: flex;
    }

    .products-grid .product:first-child {
        display: none;
    }

    .section-head-slider {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .section-head-box {
        justify-content: space-between;
    }

    .section-head,
    .section-head-slider {
        margin-bottom: 40px;
    }

    .partner-text,
    .post-text {
        font-size: 24px;
    }

    .scroll-pages {
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .filters-arrows {
        display: none;
    }

    .accordion-header {
        font-size: 24px;
    }

    .accordion-header-box {
        gap: 20px;
    }
}

@media (max-width: 740px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .icons a:not(:first-child) {
        display: none;
    }

    .icons a:first-child,
    .burger-menu {
        padding: 12px;
    }

    .burger-menu {
        order: 3;
        margin-left: 20px;
    }

    .header-logo {
        max-width: 192px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .arrows-btn {
        gap: 95px;
    }

    .arrows-btn-not-counter {
        gap: 206px;
    }

    .hero-buttons {
        margin-top: 12px;
    }

    .hero-img-mobile {
        margin-top: 16px;
    }

    .categories {
        margin-top: 32px;
    }

    .categories-title {
        margin-top: 12px;
        font-size: 14px;
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 8px;
    }

    .categories > :nth-child(9) {
        grid-column: auto;
    }

    .categories > :nth-child(10) {
        grid-column: auto;
    }

    .section-head {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .green-baner-text {
        gap: 32px;
    }

    .section-head-box {
        justify-content: space-around;
    }

    .section-head,
    .section-head-slider {
        margin-bottom: 32px;
    }

    .post {
        width: 310px;
        padding: 20px;
        gap: 32px;
    }

    .swiper-slide {
        width: 310px;
    }

    .posts-slider {
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }

    .read-article-link {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 12px;
        border-top: 1px solid var(--Black-Secondary);
    }

    .footer-midle img {
        position: absolute;
        bottom: 247px;
        left: 215px;
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 530px) {
    .products-grid,
    .products-grid-line {
        grid-template-columns: repeat(1, 1fr);
    }

    .partner img {
        width: 100%;
    }

    .button-icon-BACK {
        font-size: 0;
        gap: 0;
    }

    .head-page button {
        padding: 11px 13px;
    }

    .filters {
        flex-direction: column;
        gap: 16px;
    }

    .buttons-filter button:first-child {
        display: none;
    }

    .filters-btn .button-icon-black {
        width: 100%;
        margin-bottom: 16px;
    }

    .filters-btn {
        border-bottom: 1px solid var(--Black-Secondary);
    }

    .scroll-pages-btns-num button:nth-last-child(-n + 2) {
        display: none;
    }

    .scroll-pages-btns {
        gap: 12px;
    }

    .scroll-pages-btns-num {
        gap: 8px;
    }

    .scroll-pages-btns-num button {
        padding: 21px 17px;
    }

    .accordion-header-box {
        flex-direction: column;
        gap: 12px;
    }

    .accordion-content {
        padding: 24px 0px 0px 0px;
    }
}
